@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Navigation Bar */

body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
    height: 3vh;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  color: black;
  font-size: 25px;
}

.logo:hover{
    font-weight: 800;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Main */

.introduction{
    float: left;
    margin-left: 3vh;
    text-align: center;
    margin-left: 35%;
}

.introduction h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    color: white;
}

.introduction p{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: dimgray;
}

.construct{
    font-size: 80px;
    font-family: 'Work Sans', sans-serif;
}